

body {
  background-color: rgb(6, 24, 6);
  color: rgb(14, 205, 14);
  font-size: 25px;
  font-family: 'Machine Bold', sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
}
h1 {
  font-size: 60px;
}
table td {
  border: solid 4px;
  width: 120px;
  height: 120px;
  text-align: center;
}
#startButton{
  color: rgb(14, 205, 14);
  font-size: 25px;
  font-family: 'Machine Bold', sans-serif;
  background-color: rgb(62, 69, 62);
}
#reset {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 90px;
  height: 60px;

}
#gameUpdates {
  display: flex;
  justify-content: space-between;
}
#flexContainer {
  display: flex;
  align-items: flex-start;;
}
#gameFeedback, #tableDiv {
  display: inline-block;
}
#gameFeedback {
  font-size: 25px;
  width: 300px;
  color: rgb(14, 205, 14);
}

#gameFeedback p:nth-child(1) {
  color: red
}


#gfhl {
  color: rgb(14, 205, 14);
}

.container {
  display: grid | inline-grid
}

button.accordion {
  font-family: 'Machine Bold', sans-serif;
  font-size: 20px;
  background-color: rgb(62, 69, 62);
  color: rgb(14, 205, 14);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion.active {
  background-color: rgb(62, 69, 62);
}

div.panel {
  padding: 10px;
  background-color: rgb(62, 69, 62);
  display: none;
}

div.panel.show {
  display: block;
}

[class*="col-"] {
  display: inline-block;

}
